.image-10-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 762px;
  object-fit: cover;
}
.b,
.icon {
  position: relative;
}
.icon {
  width: 95.91px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
}
.b {
  line-height: 150%;
  text-transform: uppercase;
}
.container,
.wrapper {
  padding: var(--padding-5xs) var(--padding-xs);
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container {
  background-color: var(--color-whitesmoke-100);
  overflow: hidden;
  color: var(--theme-primary);
}
.container,
.frame-group,
.parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent {
  align-items: flex-end;
  gap: var(--gap-13xl);
}
.search-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.search-wrapper {
  border-radius: var(--br-xl);
  border: 2px solid var(--gray-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.uz {
  position: relative;
  line-height: 150%;
  display: inline-block;
  width: 24px;
  flex-shrink: 0;
}
.frame-container,
.frame-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.frame-container {
  gap: var(--gap-xs);
  text-align: center;
  color: var(--gray-white);
}
.frame-parent {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 43.23%, transparent);
  width: 1440px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-53xl);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
  font-size: var(--body-regular-size);
  color: var(--theme-light);
}
.div {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.wrapper3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
}
.chevron-right-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.group {
  align-self: stretch;
  background-color: var(--theme-primary);
  display: flex;
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-lg);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  color: var(--gray-white);
}
.frame-parent2 {
  position: absolute;
  top: 72px;
  left: 342px;
  background-color: var(--gray-white);
  width: 327px;
  flex-direction: column;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  font-size: var(--font-size-smi);
}
.frame-parent2,
.frame-parent3,
.wrapper7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper7 {
  align-self: stretch;
  background-color: var(--theme-primary);
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-lg);
  color: var(--gray-white);
}
.frame-parent3 {
  position: absolute;
  top: 136px;
  left: 673px;
  background-color: var(--gray-white);
  width: 327px;
  flex-direction: column;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  font-size: var(--font-size-smi);
}
.uzauto-motors-powertrain {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  width: 526px;
  flex-shrink: 0;
}
.uzauto-motors-powertrain-maqb-parent {
  position: absolute;
  top: 659px;
  left: 0;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.4) 50.42%);
  width: 1440px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) 74px var(--padding-13xl);
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
  font-size: var(--body-small-size);
  color: var(--gray-white);
  font-family: var(--body-regular);
}
.frame-child {
  position: relative;
  background-color: var(--theme-primary);
  width: 32px;
  height: 2px;
}
.rectangle-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.uzuto-motors-powertrain {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-45xl);
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-gray-100);
}
.frame-parent5 {
  position: absolute;
  top: 867px;
  left: 72px;
  width: 636px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  color: var(--theme-primary);
}
.div11,
.uzuto-motors-powertrain1 {
  position: absolute;
  top: 77px;
  left: 110px;
  line-height: 120%;
  text-transform: uppercase;
}
.div11 {
  top: 0;
  left: 0;
}
.div12,
.uzuto-motors-powertrain-parent {
  position: absolute;
  font-size: var(--font-size-45xl);
}
.uzuto-motors-powertrain-parent {
  top: 1689px;
  left: 72px;
  width: 1134px;
  height: 154px;
}
.div12 {
  top: 2826px;
  left: calc(50% - 156px);
  line-height: 120%;
  text-transform: uppercase;
}
.uzuto-motors-powertrain-wrapper {
  position: absolute;
  top: 1162px;
  left: 72px;
  width: 526px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
}
.frame-item,
.home-child {
  position: absolute;
  top: 814px;
  left: 730px;
  width: 636px;
  height: 551px;
  object-fit: cover;
}
.frame-item {
  top: 0;
  left: 0;
  width: 497px;
  height: 327px;
}
.player-play-icon {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.player-play-wrapper {
  position: absolute;
  top: calc(50% - 52.5px);
  left: calc(50% - 51.5px);
  border-radius: 52px;
  background-color: var(--gray-white);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-group {
  position: absolute;
  top: 1206px;
  left: 606px;
  border: 16px solid var(--gray-white);
  box-sizing: border-box;
  width: 529px;
  height: 359px;
  overflow: hidden;
}
.arrow-right-icon {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.div13 {
  position: relative;
  line-height: 150%;
}
.arrow-right-parent {
  position: absolute;
  top: 1463px;
  left: 72px;
  border-radius: var(--br-4xl);
  background-color: var(--theme-primary);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-13xl) var(--padding-5xs)
    var(--padding-5xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  color: var(--gray-white);
}
.image-placeholder-change-im {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div14 {
  position: absolute;
  top: -60px;
  left: -60px;
  line-height: 100%;
  text-transform: uppercase;
  -webkit-text-stroke: 3px #0f417d;
}
.image-placeholder-change-im-parent {
  position: absolute;
  top: 1944px;
  left: 72px;
  width: 746px;
  height: 672px;
  font-size: 140px;
  font-family: var(--font-playfair-display);
}
.b-dohc {
  position: relative;
  line-height: 120%;
  font-weight: 500;
}
.rectangle-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  color: var(--theme-primary);
}
.b12d-ll0 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 120%;
  text-transform: uppercase;
  font-weight: 500;
}
.li {
  margin-bottom: 12px;
}
.ems-s0s21 {
  margin: 0;
  padding-left: 27px;
}
.ems-s0s2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-inherit);
  line-height: 120%;
  font-family: var(--font-inherit);
}
.frame-parent7 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-xl);
}
.arrow-right-group,
.frame-parent6,
.frame-parent7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.arrow-right-group {
  border-radius: var(--br-4xl);
  background-color: var(--theme-primary);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-13xl) var(--padding-5xs)
    var(--padding-5xl);
  gap: var(--gap-3xs);
  color: var(--gray-white);
}
.frame-parent6 {
  position: absolute;
  top: 2013px;
  left: 842px;
  width: 526px;
  flex-direction: column;
  gap: 36px;
}
.frame-child1,
.rectangle-div {
  position: absolute;
  left: 0;
  background-color: var(--theme-primary);
}
.rectangle-div {
  top: calc(50% - 1px);
  width: 746px;
  height: 2px;
}
.frame-child1 {
  top: 0;
  width: 479px;
  height: 6px;
}
.rectangle-parent1 {
  position: relative;
  width: 746px;
  height: 6px;
}
.arrow-left-wrapper,
.arrow-right-wrapper {
  border-radius: var(--br-8xl);
  border: 2px solid var(--theme-primary);
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.arrow-right-wrapper {
  background-color: var(--theme-primary);
}
.frame-parent9 {
  align-items: flex-start;
  gap: var(--gap-base);
}
.arrow-right-parent1,
.frame-parent8,
.frame-parent9 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent8 {
  position: absolute;
  top: 2632px;
  left: 72px;
  align-items: center;
  gap: 426px;
}
.arrow-right-parent1 {
  border-radius: var(--br-4xl);
  border: 2px solid var(--theme-primary);
  padding: var(--padding-5xs) var(--padding-13xl) var(--padding-5xs)
    var(--padding-5xl);
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.frame-parent10 {
  position: absolute;
  top: 3383px;
  left: 72px;
  width: 1296px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  color: var(--theme-primary);
}
.frame-child4,
.rectangle-icon {
  position: relative;
  border-radius: var(--br-base);
  width: 306px;
  height: 360px;
  object-fit: cover;
}
.frame-child4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div17,
.div18 {
  align-self: stretch;
  position: relative;
  line-height: 120%;
  font-weight: 600;
}
.div18 {
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--gray-white);
}
.parent1 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(0, 0, 0, 0.6) 36.46%,
    rgba(0, 0, 0, 0.9)
  );
  display: flex;
  flex-direction: column;
  padding: var(--padding-21xl) var(--padding-base) var(--padding-base);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.rectangle-parent3 {
  position: relative;
  border-radius: var(--br-base);
  width: 306px;
  height: 408px;
  overflow: hidden;
  flex-shrink: 0;
}
.rectangle-parent2 {
  position: absolute;
  top: 2943px;
  left: -258px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--body-small-size);
  color: var(--color-whitesmoke-100);
}
.div19,
.div20 {
  position: relative;
  display: inline-block;
}
.div19 {
  line-height: 120%;
  text-transform: uppercase;
  font-weight: 600;
  width: 416px;
}
.div20 {
  font-size: var(--body-regular-size);
  line-height: 150%;
  font-weight: 500;
  width: 309px;
}
.parent2,
.wrapper12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent2 {
  gap: 19px;
}
.wrapper12 {
  flex: 1;
  height: 92px;
}
.frame-wrapper1 {
  border-bottom: 1px solid var(--color-gray-200);
  padding: var(--padding-base);
}
.frame-parent14,
.frame-wrapper1,
.send-parent,
.wrapper13 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper13 {
  flex: 1;
  border-bottom: 1px solid var(--color-gray-200);
  padding: var(--padding-base);
}
.frame-parent14,
.send-parent {
  gap: var(--gap-5xl);
}
.send-parent {
  border-radius: var(--br-4xl);
  background-color: var(--theme-primary);
  padding: var(--padding-5xs) var(--padding-13xl) var(--padding-5xs)
    var(--padding-5xl);
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  font-size: var(--heading-h5-size);
}
.frame-parent13,
.frame-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent13 {
  align-self: stretch;
  gap: var(--gap-5xl);
}
.frame-wrapper {
  border-radius: var(--br-base);
  background-color: var(--color-gray-300);
  backdrop-filter: blur(80px);
  width: 526px;
  padding: var(--padding-21xl);
  box-sizing: border-box;
  font-size: var(--body-regular-size);
}
.div25,
.text {
  position: relative;
  line-height: 150%;
}
.div25 {
  align-self: stretch;
  font-weight: 500;
}
.text {
  font-size: var(--body-regular-size);
  text-decoration: underline;
}
.parent3,
.wrapper16 {
  align-self: stretch;
  display: flex;
}
.parent3 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.wrapper16 {
  border-radius: var(--br-4xl);
  border: 2px solid var(--gray-white);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-13xl) var(--padding-5xs)
    var(--padding-5xl);
  align-items: center;
  justify-content: center;
  font-size: var(--heading-h5-size);
}
.frame-parent15,
.frame-parent16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent16 {
  align-self: stretch;
  justify-content: flex-start;
  gap: 48px;
  font-size: var(--body-regular-size);
}
.frame-parent15 {
  border-radius: var(--br-base);
  background-color: var(--color-gray-300);
  backdrop-filter: blur(80px);
  width: 306px;
  padding: var(--padding-21xl);
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-13xl);
  font-size: var(--heading-h5-size);
}
.frame-parent12 {
  position: absolute;
  top: 3497px;
  left: 0;
  display: flex;
  flex-direction: row;
  padding: 140px var(--padding-53xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  background-image: url(./public/frame-148.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-21xl);
  color: var(--gray-white);
}
.image-9-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1441px;
  height: 904px;
  object-fit: cover;
}
.frame-child7 {
  position: relative;
  background-color: var(--color-deepskyblue);
  width: 32px;
  height: 2px;
}
.div29 {
  position: relative;
  font-size: var(--font-size-13xl);
  line-height: 120%;
  font-weight: 500;
  color: var(--gray-white);
}
.frame-parent18 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.b6 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.icon-2-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.p,
.p1 {
  margin: 0;
}
.p1 {
  font-size: var(--font-size-5xl);
  text-decoration: underline;
  color: var(--color-deepskyblue);
}
.frame-parent17,
.frame-wrapper2,
.icon-2-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-2-container {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
  color: var(--color-deepskyblue);
}
.frame-parent17,
.frame-wrapper2 {
  flex-direction: column;
}
.frame-wrapper2 {
  align-self: stretch;
  color: var(--gray-white);
}
.frame-parent17 {
  position: absolute;
  top: calc(50% - 199px);
  left: 842px;
  background-color: var(--theme-primary);
  width: 526px;
  padding: var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
}
.image-9-parent {
  position: absolute;
  top: 4131px;
  left: 0;
  width: 1440px;
  height: 904px;
  font-size: var(--body-regular-size);
  color: var(--color-deepskyblue);
}
.image-2-icon {
  position: absolute;
  top: 5148px;
  left: 942px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.image-16-icon,
.image-18-icon,
.image-3-icon,
.image-4-icon {
  position: absolute;
  top: 5408px;
  left: 1202px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.image-18-icon,
.image-3-icon,
.image-4-icon {
  top: 5148px;
  left: 1072px;
}
.image-18-icon,
.image-4-icon {
  top: 5408px;
  left: 942px;
}
.image-4-icon {
  top: 5148px;
  left: 1202px;
}
.image-13-icon,
.image-17-icon,
.image-5-icon,
.image-6-icon,
.image-7-icon {
  position: absolute;
  top: 5408px;
  left: 812px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.image-13-icon,
.image-5-icon,
.image-6-icon,
.image-7-icon {
  top: 5278px;
  left: 942px;
}
.image-13-icon,
.image-5-icon,
.image-6-icon {
  top: 5408px;
  left: 1072px;
}
.image-5-icon,
.image-6-icon {
  top: 5110px;
  left: 1571.8px;
  width: 75px;
  height: 76px;
}
.image-5-icon {
  left: 1816px;
}
.image-11-icon,
.image-12-icon,
.image-14-icon,
.image-15-icon {
  position: absolute;
  top: 5278px;
  left: 1072px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.image-12-icon,
.image-14-icon,
.image-15-icon {
  left: 812px;
}
.image-12-icon,
.image-15-icon {
  left: 1202px;
}
.image-15-icon {
  top: 5148px;
  left: 812px;
}
.div32,
.e-mail {
  position: relative;
  font-weight: 500;
}
.div32 {
  line-height: 120%;
  text-transform: uppercase;
  display: inline-block;
  width: 526px;
}
.e-mail {
  line-height: 150%;
}
.e-mail-wrapper,
.wrapper17 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.e-mail-wrapper {
  align-self: stretch;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  height: 56px;
  padding: var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
}
.wrapper17 {
  border-radius: var(--br-4xl);
  background-color: var(--theme-primary);
  width: 185px;
  padding: var(--padding-5xs) var(--padding-13xl) var(--padding-5xs)
    var(--padding-5xl);
  align-items: center;
  justify-content: center;
  font-size: var(--heading-h5-size);
  color: var(--gray-white);
}
.frame-parent20,
.parent5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent20 {
  width: 416px;
  justify-content: center;
  gap: var(--gap-5xl);
  font-size: var(--body-regular-size);
}
.parent5 {
  position: absolute;
  top: 5200px;
  left: 72px;
  justify-content: flex-start;
  gap: 40px;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.image-9-icon1 {
  position: relative;
  width: 384px;
  height: 151px;
  object-fit: cover;
}
.icon-2-parent1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
  color: var(--gray-white);
}
.frame-parent23,
.icon-2-parent1,
.image-9-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent23 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-xs);
}
.image-9-group {
  width: 384px;
  gap: var(--gap-base);
  font-size: var(--body-small-size);
  color: var(--theme-light);
}
.image-9-group,
.parent6,
.parent7 {
  flex-direction: column;
}
.parent7 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--body-regular-size);
}
.parent6 {
  flex: 1;
  gap: var(--gap-base);
}
.frame-parent22,
.parent10,
.parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent10 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}
.frame-parent22 {
  align-self: stretch;
  background-color: var(--theme-primary);
  flex-direction: row;
  padding: 60px var(--padding-53xl);
  gap: 64px;
}
.brand-facebook-icon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.brand-facebook-wrapper,
.frame-parent24 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.brand-facebook-wrapper {
  border-radius: var(--br-9xs);
  padding: var(--padding-7xs);
  align-items: center;
}
.frame-parent24 {
  align-items: flex-start;
  gap: 4px;
}
.uzauto-motors-powertrain-parent {
  align-self: stretch;
  background-color: #12335b;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-53xl);
  align-items: center;
  justify-content: space-between;
  font-size: var(--body-regular-size);
}
.frame-parent21 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--gray-white);
  font-family: var(--body-regular);
}
.home {
  position: relative;
  background-color: var(--gray-white);
  width: 100%;
  height: 6111px;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-h5-size);
  color: var(--color-gray-100);
  font-family: var(--font-jost);
}
